<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">


<style>
* {
  box-sizing: border-box;
}


/* Create two unequal columns that floats next to each other */
.column {
  float: right;
  padding: 10px;
}

.left {
  width: 0%;
  position: fixed;
  text-align: left;
}

.right {
  width: 100%;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row li {
  margin: 0 0 4px 0;
}
</style>


{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body style="max-width: 900px;">
      <div class="row">
          <div class="column right">
                <main id="content" class="main-content" role="main">
                  <p style="text-align:right;"><a href="https://jhashekhar.github.io"><b>Home</b></a></p>
                  <hr><br>
                    {{ content }}
                </main>
          </div>
      </div>
    </body>
</html>
